input[type=radio]:after {
  content: '';
  width: 24px;
  height: 24px;
  border-radius: 24px;
  cursor: pointer;
  position: relative;
  background-color: #535353;
  display: inline-block;
  visibility: visible;
  border: 2px solid #fff;
}

input[type=radio]:checked:after {
  content: '';
  width: 24px;
  height: 24px;
  border-radius: 24px;
  cursor: pointer;
  position: relative;
  background-color: #4F46E5;
  display: inline-block;
  visibility: visible;
  border: 2px solid #fff;
}

